<footer>
  <div class="footer-content">
    <h1>NotiFood</h1>
    Created by
    <a class="hyper-link" href="dev-dellyson.netlify.com">Dev-Dellyson</a>
  </div>
  <div class="footer-content">
    Another Nodejs Application, Available for cloning @
    <a
      class="hyper-link"
      href="https://github.com/DellysonSplendid/Notifood.git"
      >GitHub</a
    >
  </div>
</footer>
