<% if(typeof errors != 'undefined'){ %> <% errors.forEach(function(error) { %>
<div class="alert "><%= error.msg %> <span class="close">&times;</span></div>
<% }); %> <% } %> <% if(success_msg != ''){ %>
<div class="alert alert-success">
  <%= success_msg %> <span class="close">&times;</span>
</div>
<% } %> <% if(error_msg != ''){ %>
<div class="alert alert-danger">
  <%= error_msg %> <span class="close">&times;</span>
</div>
<% } %> <% if(error != ''){ %>
<div class="alert alert-danger">
  <%= error %> <span class="close">&times;</span>
</div>
<% } %>

<script>
  function close(e) {
    if (!e.target.matches(".close")) return;
    document.querySelector(".close").parentNode.classList.add("non-active");
  }

  document.addEventListener("click", close);
</script>
