<header>
  <h1>NotiFood</h1>
  <div class="nav">
    <a href="/">Home</a>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
    <a href="/products/view">View Products</a>
    <a href="/products/add">Add Products</a>
  </div>
</header>
