<%- include ./partials/nav%>
<div class="container">
  <img src="../public/images/pokemon sad.png" alt="" />
</div>
<h1 class="heading-1">Error adding Product</h1>
<p>
  <a href="/products/add">Product Page</a>
</p>
