<h1
  style="  outline: dashed #f44336 2px; text-align: center; margin-bottom: 4rem;
 "
>
  Product Added Successful
</h1>
<p>
  <a
    href="/products/view"
    style="  padding:2em; margin-top:5rem; text-align:center; outline: dashed #f44336 2px; text-align: center;"
    >Homepage</a
  >
</p>
