.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile {
  margin-top: 100px;
  width: 300px;
  border-radius: 5px;
  display: none;
}
.profile-image {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.profile-image img {
  border: dashed palevioletred 2px;
  height: 300px;
  width: 300px;
  margin: 0px;
  padding: 0px;
}
.profile-details {
  padding: 1rem;
  background: palevioletred;
}
.profile-details span {
  color: rgb(241, 241, 241);
}
.profile button {
  background: red;
}
.profile button:hover {
  border: brown 2px;
}
.profile button a {
  text-decoration: none;
  color: #f4f4f4;
}
.fa-sign-out {
  animation: moveon 1.5s infinite;
}
.fa-plus {
  display: block;
  animation: breadth 1.9s alternate infinite ease-in;
  background: brown;
}
@keyframes moveon {
  100% {
    transform: translateX(10px);
  }
}
@keyframes breadth {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.8);
  }
}
/* Profile container */
.profile__container {
  display: flex;
  flex-direction: row;
}

/* Side Nav */
.side-nav {
  width: 20vw;
  height: 100vh;
  background: #f9748f;
  position: static;
  border-right: #444 2px solid;
}
.side-nav__collection {
  height: auto;
  width: auto;
}

.side-nav__items {
  border-top: #444 solid 1px;
  border-bottom: #444 solid 1px;
  font-size: 1.2em;
  font-weight: 500px;
  padding: 1.5rem;
  color: whitesmoke;
}

.side-nav__profile-image {
  background: rgb(80, 68, 68);
}
.side-nav__profile-image img {
  height: auto;
  width: 100%;
  border-radius: 50%;
  border: #000 solid 4px;
}

.discovery {
  display: flex;
  flex-direction: row;
  width: 80vw;
}
.smiles h1 {
  padding: 1rem;
}
.figure {
  width: 23%;
  border: whitesmoke 2px solid;
  margin-left: 1rem;
  height: 290px;
  background: #f9748fee;
}
.figure > div,
.figure > h6 {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}
