@import url("https://fonts.googleapis.com/css?family=Nunito|Pacifico&display=swap");
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
  background: url(../images/cool-background.png);
}

body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(63, 8, 8, 0.3);
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* Heading */
header {
  height: auto;
  width: 100vw;
  line-height: 70px;
  background-image: linear-gradient(
    to right,
    #f78ca0 0%,
    #f9748f 19%,
    #fd868c 60%,
    #fe9a8b 100%
  );
  /* background: url(../images/cool-background2.png); */
  font-family: "pacifico", sans-serif;
}
header h1 {
  text-align: center;
}
header .nav {
  text-align: center;
  font-family: "nunito  ", sans-serif;
}
.container {
  max-width: 760px;
  margin: 80px auto;
  background-image: linear-gradient(
    to right,
    #f78ca0 0%,
    #f9748f 19%,
    #fd868c 60%,
    #fe9a8b 100%
  );
}
.banner {
  height: 400px;
  line-height: 2.3;
}
.banner h2 {
  margin-top: 1rem;
  text-align: center;
  font-size: 2.5em;
}
.banner p {
  text-align: center;
  font-size: 1.2em;
  width: 60%;
  margin: auto;
}
/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: rgb(151, 84, 84);
  font-weight: 700;
  font-size: 16px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: rgb(151, 84, 84);
  color: #f4f4f4;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

input[type="file"] {
  background: #222;
  border: none;
}

/* Nav Links */
.nav {
  width: 100%;
  height: auto;
  border-bottom: #222 solid 2px;
}
.nav a {
  text-decoration: none;
  color: #fff;
  padding: 1.2rem;
}
.nav a:hover {
  color: #f44336;
}

/* Extra styles for the cancel button */
.cancelbtn,
.signupbtn {
  padding: 14px 20px;
  background-color: #222;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}

/* Product-container */
.product-container {
  height: 100%;
  margin: auto;
  max-width: 960px;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  /* flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; */
}
img {
  width: 100%;
}
/* labels */
label {
  display: block;
  font-weight: 700;
  font-size: 1.2em;
  padding: 0.8em 0.8em 0 0;
  margin-bottom: 10px;
}

/* select dropdown */
.select-dropdown {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  color: #f4f4f4;
  line-height: 1.3;
  padding: 0.6em 1.4em.5em 0.8em;
  max-width: 100%;
  box-sizing: inherit;
  border-radius: 0.5em;
  -moz-appearance: none;
  background-color: rgb(151, 84, 84);
  background-image: linear-gradient(
    to bottom hsl(50, 60%, 20%),
    hsl(20, 60%, 20%)
  );
  background-size: cover;
  background-repeat: none;
}
.select-dropdown::-ms-expand {
  display: none;
}
.select-dropdown:hover {
  border-color: #f44336;
}
.select-dropdown:focus {
  border-color: #888;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.select-dropdown option {
  font-weight: normal;
  margin-top: 1em;
}

/* CARD section */

.standalone-card {
  max-width: 760px;
  height: 300px;
  margin: 50px auto;
  text-align: center;
  line-height: 1.5;
  box-shadow: 0px 2px 0px 0px rgba(238, 136, 3, 0.5);
}

.four-cards {
  max-width: 1390px;
  margin: 50px auto;
  font-family: "nunito", sans-serif !important;
}
.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.card {
  border-radius: 0.5em;
  text-align: left;
  margin-left: 1em;
  margin-bottom: 1em;
  width: 400px;
  height: auto;
  background-image: linear-gradient(
    to right,
    #f78ca0 0%,
    #f9748f 19%,
    #fd868c 60%,
    #fe9a8b 100%
  );
}
.card-body {
  padding-top: 0.9em;
  padding-left: 0.9em;
}
.card-title {
  margin-bottom: 0.3em;
}
.card-image {
  width: 100%;
  height: 50%;
}
.card-image img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  /* height: 100px; */
}
.card-body .detail {
  margin-top: 1em;
  font-weight: 700;
  text-transform: capitalize;
  color: #f4f4f4;

  width: auto;
}
/* Footer */
footer {
  background: rgba(0, 0, 0, 0.603);
  height: 200px;
  width: 100vw;
}

.footer-content {
  font-size: inherit;
  font-weight: 700;
  color: #fefe;
  margin: auto;
  max-width: 760px;
  text-align: center;
  padding: 2rem;
}
/* Utilities */
.price-range {
  height: 50px;
  width: 100%;
  transition: background-color 1s ease-in;
}

/* canvsd */
.canvas {
  max-width: 1000px;
  margin: auto;
}
