@import url("https://fonts.googleapis.com/css?family=Nunito|Pacifico&display=swap");

html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
}

body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(63, 8, 8, 0.3);
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* Heading */
header {
  height: auto;
  width: 100%;
  line-height: 50px;
  /* background-image: linear-gradient(
    to right,
    #f78ca0 0%,
    #f9748f 19%,
    #fd868c 60%,
    #fe9a8b 100%
  ); */
  background: url(../images/agence-producteurs-locaux-damien-kuhn-97729-unsplash.jpg)
    no-repeat;
  background-size: 100%;
  color: #f1f1f1;
  font-family: "pacifico", sans-serif;
}
header {
  position: relative;
}
header .nav {
  text-align: center;
  font-family: "nunito  ", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: rgba(165, 42, 42, 0.863);
}

/* Nav Links */
.nav {
  width: 100%;
  height: auto;
  border-bottom: #222 solid 2px;
  position: fixed;
  top: 0;
}
.nav a {
  text-decoration: none;
  color: #fff;
  font-size: 0.89em;
}
.nav a:hover {
  color: #f44336;
  outline: dashed #f44336 2px;
}
.navActive {
  color: #f44336;
  outline: dashed #f44336 2px;
}

.container {
  max-width: 760px;
  margin: 80px auto;
  background-image: linear-gradient(
    to right,
    #f78ca0 0%,
    #f9748f 19%,
    #fd868c 60%,
    #fe9a8b 100%
  );
}
.banner {
  height: auto;

  line-height: 2.3;
}
.banner h2 {
  padding-top: 4rem;
  text-align: center;
  font-size: 2.5em;
}
.banner p {
  text-align: center;
  font-size: 1.2em;
  width: 70%;
  margin: auto;
}

/* Product-container */
.product-container {
  height: 100%;
  margin: auto;
  max-width: 960px;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  /* flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; */
}
img {
  width: 100%;
}
/* labels */
label {
  display: block;
  font-weight: 700;
  font-size: 1.2em;
  padding: 0.8em 0.8em 0 0;
  margin-bottom: 10px;
}

/* select dropdown */
.select-dropdown {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  color: #f4f4f4;
  line-height: 1.3;
  padding: 0.6em 1.4em.5em 0.8em;
  max-width: 100%;
  box-sizing: inherit;
  border-radius: 0.5em;
  -moz-appearance: none;
  background-color: rgb(151, 84, 84);
  background-image: linear-gradient(
    to bottom hsl(50, 60%, 20%),
    hsl(20, 60%, 20%)
  );
  background-size: cover;
  background-repeat: none;
}
.select-dropdown::-ms-expand {
  display: none;
}
.select-dropdown:hover {
  border-color: #f44336;
}
.select-dropdown:focus {
  border-color: #888;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.select-dropdown option {
  font-weight: normal;
  margin-top: 1em;
}

/* Footer */
footer {
  background: rgba(0, 0, 0);
  height: 200px;
  width: 100vw;
}

.footer-content {
  font-size: inherit;
  font-weight: 700;
  color: #fefe;
  margin: auto;
  max-width: 760px;
  text-align: center;
  padding: 2rem;
}
/* Utilities */
.price-range {
  height: 50px;
  width: 100%;
  transition: background-color 1s ease-in;
}
.ml {
  margin-left: 2em;
  padding: 1em;
}
.heading-1 {
  font-size: 2em;
  outline: dashed #f44336 2px;
  color: #333;
  width: 90%;
}
.hyper-link {
  text-decoration: none;
  color: #f44336;
  font-weight: 100;
}
.hyper-link:hover {
  outline: dashed #f44336 2px;
}
/* canvsd */
.canvas {
  max-width: 1000px;
  margin: auto;
}
/* CArd Animation */

.active {
  opacity: 1;
  transition: 5s ease-in;
}
/* Load More Button */
.noContent {
  background: red;
}
.content {
  display: none;
}

/* Icon Animation */
.fa-angle-down {
  animation: bounce 1s infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(-10px);
    transition: 5s ease;
  }
}
